@model coreNotify.Models.Application

@{
    ViewData["Title"] = "Delete";
}

    
<form asp-action="Delete">
    <input type="hidden" asp-for="AppId" />
    <p>Are you sure you want to delete this App?</p>
	<button class="btn btn-danger" type="submit"><span class="mr-1"><span class="fas fa-trash"></span></span> Delete</button>
	<a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
